footer {
    background-color: var(--color-neutro-black);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 50px 30px;
}

.container-footer-logo {
    margin-bottom: 20px;
}

footer .container-footer-logo .footer-title {
    color: #fff;
    font-size: 1.3em;
    font-weight: 200;
}

.container-footer-logo a{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer *{
    color: #dadada;
    font-weight: 300;
}


.nav-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 80px;
    line-height: 24px;
    border-bottom: 1px solid #dadada2a;
    padding-bottom: 10px;
}

.nav-section a{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

footer div:first-child .nav-section-title{
    font-weight: 300;
}

.nav-section-title {
    border-bottom: 4px solid #dadada;
    color: #fff;
}

.nav-section p {
    margin-top: 10px;
    font-size: .9em;
    color: #dadada;
}

.nav-section a {
    margin-bottom: 5px;
    font-size: .9em;
}

.nav-section .a-us {
    margin-top: 10px;
}

.nav-section.section-1 {
    max-width: 500px;
}

.nav-section.section-2 {
    min-width: 80px;
}