
#header-call {
    background: linear-gradient(to top, #a060db, #1b43f8);
    /* Gradiente vertical para simular relieve */
    padding: 7px 20px;
    border-style: none;
    border-radius: 50px;
    font-size: 1.5em;
    color: var(--color-neutro-white);
    box-shadow:
        0px 4px 10px rgba(0, 0, 0, 0.5),
        /* Sombra externa */
        inset 0px -4px 8px rgba(53, 9, 95, 0.3);
    /* Sombra interna para profundidad */
    transition: transform 0.2s, box-shadow 0.2s;
    /* Suavizar animaciones */
}

#header-call:hover {
    transform: translateY(-4px);
    /* Botón se eleva al pasar el mouse */
    box-shadow:
        0px 6px 15px rgba(0, 0, 0, 0.5),
        /* Sombra externa más pronunciada */
        inset 0px -3px 6px rgba(0, 0, 0, 0.4);
    /* Sombra interna ajustada */
}

#img-logo{
    width: 80px;
    z-index: 10;
}

.social-header path{
    fill: var(--color-neutro-black) !important;
}

.social-header{
    display: flex;
    gap: 20px;
}

/* Header 2 */

.container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    position: sticky;
    height: 90px;
    top: 0;
    z-index: 9999;
    padding: 10px 35px;
    transition: background-color 0.3s ease-in-out;
}

.header-sticky{
    background-color: rgba(255, 255, 255, 0.76);
    backdrop-filter: blur(30px);
    
}

.header-sticky-title {
    color: var(--color-neutro-black) !important;  /* Puedes cambiar el color cuando el header esté sticky */
  }

.header-title{
    transition: color 0.2s ease-in-out;
    color: var(--color-neutro-white);
}

.header-logo{
    display: flex;
    align-items: center;
    
}


.header {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-nav {
    display: flex;
    gap: 30px;
}

.header .nav-link {
    font-size: 1.2em;
    position: relative;
}

.header .nav-link::after {
    content: "";
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #8400ff,#0011ff);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .3s;
    will-change: width;
}

.header .nav-link:hover::after {
    width: 100%;
    right: 0;
}

.menu-button{
    display: none;
}

.menu-responsive{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(12px);
    opacity: 0;
    z-index: 999;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.menu-responsive .header-nav{
    line-height: 1.2;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.menu-responsive.menu-open{
    right: 0;
    background-color: rgba(255, 255, 255, 0.589);
    opacity: 1;
    
}

.menu-close{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.menu-close path{
    fill: var(--color-neutro-black) !important;
}

@media screen and (max-width: 1100px){

    .header-title{
        color: var(--color-neutro-black) !important;
        font-weight: 100;
    }
}

/*PARA IPHONE 16 PRO MAX HACIA ABAJO*/
@media screen and (max-width: 768px) {
    

    #img-logo{
        width: 60px;
        z-index: 10;
    }

    .menu-button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
    }

    .menu-button path{
        fill: var(--color-neutro-black) !important;
    }

    .header{
        display: none;
    }

    

    .container-header {
        height: 90px;
        padding: 10px 25px;
    }

    nav{
        display: none;
    }
}

@media screen and (max-width: 460px){
    .container-header{
        height: 80px;
    }
}