.seccion3 {
    height: fit-content;
    padding: 200px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    perspective: 1000px;
}

.cards-container {
    display: flex;
    gap: 70px;
    align-items: start;
}

.card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card-container.appear {
    opacity: 1;
    transform: translateY(0);
}

.card {
    width: 350px;
    height: fit-content;
    box-shadow: 1px 30px 23px 10px #00000021;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    font-size: 1.2em;
    padding: 15px;
    opacity: 1;
    transition: transform 0.1s ease-out;
    transform-style: preserve-3d;
}

.card.no-radius {
    border-radius: 0 0 15px 15px;
}

.best-plans {
    position: absolute;
    right: 15px;
}

.best-plans.recommend path {
    fill: #1b43f8 !important;
}

.best-plans.premium path {
    fill: #ffae00 !important;
}

.chip {
    position: relative;
    top: -47px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 20px 20px 0 0;
    border: none;
    color: #fff;
    text-align: center;
    z-index: 100;
    transition: transform 0.1s ease-out;
    transform-style: preserve-3d;
}

.chip.first-chip {
    background-color: #1b43f8;
}

.chip.second-chip {
    background-color: #ffae00;
}

.top-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding: 20px 20px 0;
}

#card-price {
    font-weight: 700;
    font-size: 2em;
    align-self: center;
    color: #2a0f5c;
}

.coin-type {
    font-weight: 400;
    color: #333;
}

.coin-type.price-per-month {
    font-size: .5em;
}

.card-quotes {
    align-self: center;
}

.card-description {
    font-size: 0.8em;
    margin: 25px 0;
}

.card-separator {
    height: 1px;
    background-color: #dadada;
    margin: 10px 0;
}

.characteristics {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-all;
    margin: 20px;
}

.characteristic-container {
    display: flex;
    gap: 10px;
    height: 0;
    opacity: 0;
    transition: height .2s ease, opacity .4s ease, transform .2s ease;
    overflow: hidden;
}

.characteristic-container.show {
    margin-bottom: 10px;
    height: 40px;
    opacity: 1;
}

.characteristic-container.hide {
    height: 0;
    opacity: 0;
    pointer-events: none;
}

.characteristic-container svg path {
    fill: #4CAF50 !important;
}

.characteristic-container .characteristic-txt {
    font-size: .7em;
    color: #414141;
}

.characteristic-btn{
    border: none;
    background-color: transparent;
    font-size: 0.8em;
    font-weight: 500;
    color: #50279c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.3s ease-out;
    padding: 10px 10px;
}

.characteristic-btn:hover{
    scale: 1.1;
}

@keyframes rotate-down {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes rotate-up {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.characteristic-btn-arrow {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.characteristic-btn-arrow.rotate-arrow {
    animation-name: rotate-down;
}

.characteristic-btn-arrow:not(.rotate-arrow) {
    animation-name: rotate-up;
}

.characteristic-btn-arrow path{
    fill: #50279c !important;
}

.card::before {
    content: "";
    width: 100%;
    /* Aumenta el tamaño para que sobresalga ligeramente */
    height: 30%;
    /* Cubre más allá de los bordes */
    position: absolute;
    top: -10%;
    /* Centra el efecto */
    left: -10%;
    z-index: -1;
    filter: blur(30px);
    opacity: 0.5;
    /* Desenfoque del gradiente */
    background: linear-gradient(203deg, rgba(221, 135, 218, 1) 20%, rgb(37, 153, 216) 40%, rgba(97, 24, 194, 1) 89%);
    transform: scale(1.2);
    /* Escala el gradiente para mayor cobertura */
}

.card:nth-child(2) {
    margin-top: -70px;
}