.seccion1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  perspective: 1000px;
  overflow: hidden;
  margin-top: -90px;
}

#default-ar-button {
  display: none !important;
}

.planing-btn {
  display: none;
}

.span-hero {
  opacity: 0;
  transform: translateX(-50px);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  display: flex;
  flex-direction: column;
  width: 55%;
}

.span-hero.animation {
  opacity: 1;
  transform: translateX(0px);
}

.sec1-contizq {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 100vh;
  position: relative;
  backdrop-filter: blur(3px);
  box-shadow: 0px 20px 30px;
  transition: width 0.3s ease-in;
}

@keyframes title {
  from {
    opacity: 0;
    transform: translateX(-35px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.sec1-contder {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 60%;
  color: white;
  position: relative;
  padding: 110px 50px 50px 50px;
  background-color: #fff;
  transition: width 0.3s ease-in;
  z-index: 11;
}

.sec1-contder .contder-presentation {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.sec1-contder .contder-presentation span {}

.sec1-contder .contder-presentation .contder-h1 {
  font-size: 4.3em;
  font-weight: 700;
  color: var(--color-neutro-black);
  transition: font-size 0.5s ease-in-out;
}

.sec1-contder .contder-presentation .contder-h1:nth-child(2) {}

.sec1-contder .contder-presentation .contder-h1:nth-child(3) {
  line-height: 1.2;
}

.sec1-contizq::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-neutro-black);
  z-index: -1;
  opacity: 1;
}


#colibri {
  width: 80%;
  height: 80%;
}

#grid {
  position: absolute;
  object-fit: cover;
  width: 500px;
  pointer-events: none;
  height: 500px;
  clip-path: circle(50% at center);
  /* Recorta la imagen a un círculo */
  z-index: -1;
}

.items-hero {
  position: relative;
  width: 50%;
  transform: translateY(50px);
  height: 400px;
}

.parallax {
  transition: transform 0.1s linear;
  position: absolute;
}

.parallax:first-child {
  left: 10%;
  bottom: 0em;
}

.parallax:nth-child(2) {
  left: 15%;
  top: -25%;
}

.parallax:nth-child(3) {
  left: 40%;
  top: 25%;
}

.parallax:nth-child(4) {
  left: 72%;
  top: -10%;
}

.parallax:nth-child(5) {
  left: 70%;
  top: 65%;
}

.item1 {
  /* rombo */
  width: 144px;
}

.item2 {
  /* cuadrao */
  width: 144px;
}

.item3 {
  /* triangulop */
  width: 144px;
}

.item4 {
  /* pretzel */
  width: 144px;
}

.item5 {
  /* circulo */
  width: 144px;
}

.social-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}

svg path {
  fill: #868686 !important;
}

@media screen and (max-width: 1440px) {
  .span-hero {
    width: 60%;
  }

  .parallax:first-child {
    left: -12%;
    bottom: 0%;
  }

  .parallax:nth-child(2) {
    left: -5%;
    top: -24%;
  }

  .parallax:nth-child(3) {
    left: 25%;
    top: 25%;
  }

  .parallax:nth-child(4) {
    left: 65%;
    top: -10%;
  }

  .parallax:nth-child(5) {
    left: 12em;
    top: 16em;
  }

  .item1 {
    /* rombo */
    width: 128px;
  }

  .item2 {
    /* cuadrao */
    width: 128px;
  }

  .item3 {
    /* triangulop */
    width: 128px;
  }

  .item4 {
    /* pretzel */
    width: 128px;
  }

  .item5 {
    /* circulo */
    width: 128px;
  }

  .sec1-contder .contder-presentation .contder-h1 {
    font-size: 4em;
  }
}

@media screen and (max-width: 1280px) {
  .sec1-contder .contder-presentation .contder-h1 {
    font-size: 3.5em;
  }

  .items-hero {
    transform: translate(0px, 50px);
  }
}

@media screen and (max-width: 1100px) {
  .seccion1 {
    height: 100vh;
    flex-direction: column;
  }

  .sec1-contizq::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 10;
    opacity: 1;
  }

  .sec1-contizq {
    width: 100%;
    height: 30%;
    order: 2;
  }

  .sec1-contder {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 100%;
    color: white;
    position: relative;
    padding: 110px 50px 50px 50px;
    background-color: #fff;
  }

  #colibri {
    width: 90%;
    height: 90%;
  }

  .parallax:first-child {
    left: -5%;
    bottom: 10%;
  }

  .parallax:nth-child(2) {
    left: -5%;
    top: -14%;
  }

  .parallax:nth-child(3) {
    left: 25%;
    top: 20%;
  }

  .parallax:nth-child(4) {
    left: 65%;
    top: 0%;
  }

  .parallax:nth-child(5) {
    left: 50%;
    top: 65%;
  }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .sec1-contder .contder-presentation .contder-h1 {
    font-size: 3em;
  }

  .parallax:first-child {
    left: -5%;
    bottom: 25%;
  }

  .parallax:nth-child(2) {
    left: -5%;
    top: -0%;
  }

  .parallax:nth-child(3) {
    left: 25%;
    top: 25%;
  }

  .parallax:nth-child(4) {
    left: 55%;
    top: 0%;
  }

  .parallax:nth-child(5) {
    left: 50%;
    top: 55%;
  }

  .item1 {
    /* rombo */
    width: 96px;
  }

  .item2 {
    /* cuadrao */
    width: 112px;

  }

  .item3 {
    /* triangulop */
    width: 112px;
  }

  .item4 {
    /* pretzel */
    width: 96px;
  }

  .item5 {
    /* circulo */
    width: 120px;
  }

}

@media screen and (max-width: 820px) {

  #colibri::part(ar-button) {
    display: none !important;
  }

  .sec1-contder .contder-presentation .contder-h1 {
    font-size: 3em;
  }

  .item1 {
    /* rombo */
    width: 112px;
  }

  .item2 {
    /* cuadrao */
    width: 112px;

  }

  .item3 {
    /* triangulop */
    width: 112px;
  }

  .item4 {
    /* pretzel */
    width: 112px;
  }

  .item5 {
    /* circulo */
    width: 112px;
  }

}

@media screen and (max-width: 768px) {
  .planing-btn {
    background-color: transparent;
    border: none;
    width: fit-content;
    margin-top: 15%;
    display: block;
    padding: 0;
  }

  .planing-btn #header-call {
    width: 100%;
    padding: 12px 55px;
  }

  .span-hero .contder-h1:nth-child(3){
    margin-bottom: 10% !important;
  }
}




/*PARA IPHONE 16 PRO MAX HACIA ABAJO*/
@media screen and (max-width: 560px) {
  .seccion1 {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    perspective: 1000px;
    overflow: hidden;
    margin-top: -80px;
  }

  .planing-btn #header-call {
    width: 100%;
    padding: 10px 30px;
  }

  .sec1-contizq {
    display: flex;
    order: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 30%;
    position: relative;
    backdrop-filter: blur(3px);
    box-shadow: 0px 20px 30px;
  }

  .sec1-contizq::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-neutro-black);
    z-index: -1;
    opacity: 1;
  }

  #colibri {
    width: 70%;
    height: 70%;
  }

  .sec1-contder {
    display: flex;
    order: 1;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 100%;
    color: white;
    position: relative;
    padding: 110px 50px 50px 50px;
  }

  .sec1-contder .contder-presentation {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .sec1-contder .contder-presentation span {
    width: 50%;
  }

  .sec1-contder .contder-presentation .contder-h1 {
    font-size: 65px;
    font-weight: 700;
    color: var(--color-neutro-black);
    z-index: 1;
    width: 100%;
  }

  .sec1-contder .contder-presentation .contder-h1:nth-child(2) {}

  .sec1-contder .contder-presentation .contder-h1:nth-child(3) {
    line-height: 1.2;
  }

  .item1 {
    /* rombo */
    width: 96px;
  }

  .item2 {
    /* cuadrao */
    width: 96px;
    z-index: -1;
  }

  .item3 {
    /* triangulop */
    width: 96px;
  }

  .item4 {
    /* pretzel */
    width: 80px;
  }

  .item5 {
    /* circulo */
    width: 80px;
  }

  .items-hero {
    position: relative;
    width: 50%;
    height: 400px;
  }

  .parallax {
    transition: transform 0.1s linear;
    position: absolute;
  }

  .parallax:first-child {
    /* rombo */
    left: 0%;
    bottom: -5%;
  }

  .parallax:nth-child(2) {
    /* cuadrao */
    left: 0%;
    top: -30%;
  }

  .parallax:nth-child(3) {
    /* triangulop */
    left: 36%;
    top: 35%;
  }

  .parallax:nth-child(4) {
    /* pretzel */
    left: 65%;
    top: 5%;
  }

  .parallax:nth-child(5) {
    /* circulo */
    left: 65%;
    top: 65%;
  }
}

@media screen and (max-width: 550px) and (max-height: 800px) {

  .sec1-contder .contder-presentation .contder-h1 {
    font-size: 55px;

  }

  .sec1-contder{
    height: 75%;

  }

  .sec1-contizq{
    height: 25%;
  }
}

@media screen and (max-width: 400px) and (max-height: 915px) {

  .planing-btn{
    transform: scale(1);
  }

  .planing-btn #header-call {
    width: 100%;
    padding: 10px 20px;
  }


  .span-hero .contder-h1:nth-child(3){
    margin-bottom: 6% !important;
  }

  .sec1-contder .contder-presentation .contder-h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--color-neutro-black);
    z-index: 1;
  }

  .parallax:first-child {
    /* rombo */
    left: 0em;
    bottom: 5%;
  }

  .parallax:nth-child(5) {
    /* circulo */
    left: 65%;
    top: 60%;
  }

  .item1 {
    /* rombo */
    width: 80px;
  }

  .item2 {
    /* cuadrao */
    width: 80px;
    z-index: -1;
  }

  .item3 {
    /* triangulop */
    width: 80px;
  }

  .item4 {
    /* pretzel */
    width: 80px;
  }

  .item5 {
    /* circulo */
    width: 80px;
  }

}