.seccion1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    overflow: hidden;
}

.card {
    background-color: var(--color-primary);
    width: 350px;
    height: 500px;
    border-radius: 15px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    /* Evita que las pseudo-elementos sobresalgan */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    /* Sombra suave */
    transition: transform 0.1s ease-out;
    /* Suaviza el movimiento */
    transform-style: preserve-3d;
    color: var(--color-neutro-black);
    padding: 20px;
}

.card ul li {
    list-style: none;
    text-align: start;
    display: flex;
    justify-content: start;
    padding: 0;
    padding-inline-start: 0px;
}

.card ul {
    margin-top: 50px;
    font-weight: 600;
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transform: translateY(-10px);
    opacity: 0.8;
    background-color: var(--color-neutro-white);
    z-index: -1;
    /* Asegúrate de que quede detrás */
}

.card::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transform: translateY(-20px);
    opacity: 0.8;
    background-color: var(--color-neutro-white);
    z-index: -2;
    /* Más atrás aún */
}

.sec1-contizq {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100vh;
    position: relative;
    backdrop-filter: blur(3px);
    box-shadow: 0px 20px 30px;
}

.sec1-contder {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 60%;
    color: white;
    position: relative;
    padding: 50px;
}

.sec1-contder .contder-presentation {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.sec1-contder .contder-presentation span {
    width: 50%;
}

.sec1-contder .contder-presentation .contder-h1 {
    font-size: 3.9em;
    font-weight: 600;
    color: var(--color-neutro-black);
}

.sec1-contder .contder-presentation .contder-h1:nth-child(2) {
    margin: 50px 0;
}

.sec1-contder .contder-presentation .contder-h1:nth-child(3) {
    line-height: 1.2;
}

.sec1-contizq::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-neutro-black);
    z-index: -1;
    opacity: 1;
}

#colibri {
    width: 80%;
    height: 80%;
}

#grid {
    position: absolute;
    object-fit: cover;
    width: 500px;
    pointer-events: none;
    height: 500px;
    clip-path: circle(50% at center);
    /* Recorta la imagen a un círculo */
    z-index: -1;
}



.items-hero {
    position: relative;
    width: 50%;
    height: 400px;
}

.parallax {
    transition: transform .1s linear;
    position: absolute;
}

.parallax:first-child {
    left: 2em;
        bottom: 0em;
        transform: translate(-60px, 60px);
}

.parallax:nth-child(2) {
    left: 0%;
        top: -4em;
        transform: translate(-50px, -50px);
}

.parallax:nth-child(3) {
    left: 36%;
    top: 5em;
    transform: translate(-80px, 0px);
}

.parallax:nth-child(4) {
    left: 65%;
    top: -10%;
    transform: translate(40px, -80px);
}

.parallax:last-child {
    left: 22em;
        top: 16em;
        transform: translate(40px, 80px);
}


.item1  { /* rombo */
    width: 8em;
}

.item2 { /* cuadrao */
    width: 8em;
}

.item3 { /* triangulop */
    width: 8em;
}

.item4 { /* pretzel */
    width: 8em;
}

.item5 { /* circulo */
    width: 8em;
}
@media screen and (min-width: 1500px) {
    .item1, .item2, .item3, .item4, .item5 {
        width: 10em;
    }
}

.social-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

svg path {
    fill: #868686 !important;
}

.social-hero svg {
    width: 20px;
    height: auto;
}

