.seccion2 {
    padding: 100px 0px;
    height: fit-content;
    background-color: var(--color-neutro-white);
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.seccion2 .seccion2-title {
    font-size: 4em;
    margin-bottom: 50px;
    color: var(--color-neutro-black);
    z-index: 10;
}

.seccion2 .background-h1 {
    position: absolute;
    font-size: 70vh;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #dadada;
    font-weight: 600;
}

.container-objectives {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    margin: 0 20px;
}

.top-objective-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.objective-article {
    backdrop-filter: blur(9px);
    box-shadow: 1px 1px 40px 10px #00000021;
    padding: 40px 40px;
    width: 400px;
    height: 400px;  
    max-height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.objective-icon{
    font-size: 40px !important;
}

.objective-icon path{
    fill: #50279c !important;
}

.objective-article .objective-h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--color-neutro-black);
}

.container-objective-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.objective-article .objective-p {
    color: #505050;
    text-align: center;
    font-size: 1.5em;
}

.parallax-section1{
    transition: transform .1s linear;
    position: absolute;
    z-index: 0;
    top: 35%;
    left: 80%;
}

.parallax-section2{
    transition: transform .1s linear;
    position: absolute;
    z-index: 0;
    top: 70%;
    left: 15%;
}

.item6 {
    /* circulo */
    width: 150px;
    position: absolute;
    filter: blur(2px);

}

.item7 {
    /* circulo */
    width: 250px;
    position: absolute;
    filter: blur(2px);

}

@media screen and (max-width: 460px) {

    .seccion2 {
        padding: 100px 20px;
        height: 100vh;
        background-color: var(--color-neutro-white);
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container-objectives {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0 20px;
    }

    .objective-article {
        backdrop-filter: blur(9px);
        box-shadow: 1px 1px 40px 10px #00000021;
        padding: 40px 25px;
        max-width: 160px;
        height: 160px;
        max-height: 500px;
        border-radius: 15px;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.6s ease, transform 0.6s ease;
    }

    .objective-article.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .objective-article .objective-p {
        color: #505050;
        display: none;
    }

    
    .objective-h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
        color: var(--color-neutro-black);
    }

    .seccion2 .seccion2-title {
        font-size: 2em;
        margin-bottom: 50px;
        color: var(--color-neutro-black);
        z-index: 10;
    }

    .seccion2 .background-h1 {
        position: absolute;
        font-size: 65vh;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: #dadada;
        font-weight: 600;
        display: none;
    }

    .parallax-section1{
        transition: transform .1s linear;
        position: absolute;
        z-index: 0;
        top: 35%;
        left: 70%;
    }
    
    .parallax-section2{
        transition: transform .1s linear;
        position: absolute;
        z-index: 0;
        top: 70%;
        left: 15%;
    }
    
    .item6 {
        /* circulo */
        width: 100px;
        position: absolute;
        filter: blur(2px);
    
    }
    
    .item7 {
        /* circulo */
        width: 150px;
        position: absolute;
        filter: blur(2px);
    
    }
}