.seccion2 {
    padding: 500px 0px;
    height: 110vh;
    background-color: var(--color-neutro-white);
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.seccion2 .seccion2-title {
    font-size: 4em;
    margin-bottom: 50px;
    color: var(--color-neutro-black);
    z-index: 10;
}

.seccion2 .background-h1 {
    position: absolute;
    font-size: 65vh;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #dadada;
}

.container-objectives {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    margin: 0 20px;
}

.objective-article {
    backdrop-filter: blur(9px);
    box-shadow: 1px 1px 40px 10px #00000021;
    padding: 40px 25px;
    max-width: 500px;
    height: 300px;
    max-height: 500px;
    border-radius: 15px;
}

.objective-article .objective-h2 {
    margin-bottom: 10px;
    color: var(--color-neutro-black);
}

.objective-article .objective-p {
    color: #505050;
}

.parallax-section2 {
    transition: transform .1s linear;
    position: absolute;
    z-index: 0;

}

.item6 {
    /* circulo */
    width: 150px;
    position: absolute;
    transform: translate(500px, -200px);
    filter: blur(2px);

    top: 0;
    left: 0;
}

.item7 {
    /* circulo */
    width: 250px;
    position: absolute;
    transform: translate(-600px, 250px);
    filter: blur(2px);
    top: 0;
    left: 0;
}