.seccion3 {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    perspective: 1000px;
    z-index: 10;
    position: relative;
    background-color: #fffefe;
    overflow: hidden;
}

.seccion3-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(204, 204, 204, 0.274);
    backdrop-filter: blur(5px);
    z-index: 2;
}

.location-wrapper{
    position: absolute;
    top: 0;
    left: 100px;
    z-index: 100;
    margin-top: 20px;
}

.location{
    padding: 5%;
            border: 1px solid rgb(221, 221, 221);
            border-radius: 15px;
                width: 200px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                z-index: 100;
}

.location.location-open {
    background-color: #fff;
}

.location-wrapper ul{
    list-style: none;
    padding: 0;
    padding: 5%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 15px;
        border: 1px solid rgb(221, 221, 221);
        z-index: 100;
}

.location-wrapper ul li {
    width: 200px;
    padding: 10px 10px;
    transition: background-color 0.3s ease;
        border-radius: 15px;
        z-index: 100;
}

.location-wrapper ul li:hover {
   background-color: rgb(221, 221, 221);
}

.country-dropdown {
    position: absolute;
}

.swiper-button-next, .swiper-button-prev, .swiper-pagination .swiper-pagination-bullet {
    cursor: none;
}

.swiper-button-next, .swiper-button-prev {
    color: #50279c !important;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #50279c !important;
}

.swiper{
    overflow: visible;
}

.swiper-wrapper {
    align-items: stretch;
}

.swiper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 50px 0px;
}

.swiper-slide {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    margin: 0 !important;
    padding: 0 10px !important;
}

.swiper-pagination {
    top: 35px !important;
    height: 20px;
}

.card-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 1;
    transform: translateY(0) scale(.9);
    transition: transform 0.5s ease, opacity 0.5s ease;
    min-height: 650px;
    height: auto;
}

#card-container-3, #card-container-1{
    margin-top: 40px;
}


.card {
    height: auto;
    box-shadow: 1px 30px 23px 10px #00000021;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    font-size: 1.2em;
    padding: 15px;
    opacity: 1;
    transition: transform 0.1s ease-out;
    transform-style: preserve-3d;
    width: 100%;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card.no-radius {
    border-radius: 0 0 15px 15px;
}

.best-plans {
    position: absolute;
    right: 15px;
    top: 15px;
}

.best-plans.recommend path {
    fill: #1b43f8 !important;
}

.best-plans.premium path {
    fill: #ffae00 !important;
}

.best-plans.e-commerce path {
    fill: #50279c !important;
}

.best-plans.tattoo-machine {
    width: 22px;
    height: auto;
}

.chip {
    position: relative;
    top: 23px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 20px 20px 0 0;
    height: 40px;
    border: none;
    color: #fff;
    text-align: center;
    z-index: 100;
    transition: transform 0.1s ease-out;
    transform-style: preserve-3d;
}

.chip.first-chip {
    background-color: #1b43f8;
}

.chip.second-chip {
    background-color: #ffae00;
}

.chip.third-chip {
    background-color: #50279c;
}

.chip.fourth-chip {
    background-color: #0a0a0a;
}

.tattooImage{
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: -2;
    filter: blur(3px);
    width: 150px;
    opacity: 0.3;
    height: auto;
}

.top-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0;
    min-height: 354px;
}

.top-card h3 {
    height: 62px;
}

#card-price {
    font-weight: 700;
    font-size: 2em;
    align-self: center;
    color: #2a0f5c;
}

#card-price .price-text {
    font-size: 0.5em;
    font-weight: 400;
}

.coin-type {
    font-weight: 400;
    color: #333;
}

.coin-type.price-per-month {
    font-size: .5em;
}

.card-quotes {
    align-self: center;
}

.card-description {
    font-size: 0.8em;
    margin: 25px 0;
    height: 83px;
}

.card-description.description-landing {
    margin: 5px 0;
}

.card-separator {
    height: 1px;
    background-color: #dadada;
    margin: 10px 0;
}

.characteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-break: break-all;
    margin: 20px;
    padding: 0;
}

.characteristic-container {
    display: flex;
    gap: 10px;
    max-height: 0;
    min-height: 0;
    width: 100%;
    opacity: 0;
    transition: max-height .2s ease, min-height .2s ease, opacity .2s ease, transform .2s ease;
    list-style: none;
    align-items: center;
    position: relative;
}

.characteristic-container.show {
    margin-bottom: 10px;
    min-height: 45px;
    max-height: 45px;
    opacity: 1;
}

.characteristic-container.hide {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}

.characteristic-container .check-icon path {
    fill: #4CAF50 !important;
}

.characteristic-container .info-icon path {
    fill: #797979 !important;
}

.characteristic-container .cross-icon path {
    fill: #ce3c3c !important;
}

.characteristic-container .characteristic-txt {
    font-size: .7em;
    color: #414141;
    white-space: normal;
    word-break: normal;
}

.characteristic-btn{
    border: none;
    background-color: transparent;
    font-size: 0.8em;
    font-weight: 500;
    color: #50279c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.3s ease-out;
    padding: 10px 10px;
    width: 100%;
}

.characteristic-btn:hover{
    scale: 1.1;
}

.info-container p{
    color: #444444 !important;

}

.info-container{
    position: absolute;
    left: 0;
    top: calc(-100%);
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
    padding: 10px 15px;
    border: 1px solid rgb(212, 212, 212);
    max-width: 500px;
    font-size: 0.7em;
    pointer-events: none;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container.show{
    opacity: 1;
}


@keyframes rotate-down {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes rotate-up {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.characteristic-btn-arrow {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.characteristic-btn-arrow.rotate-arrow {
    animation-name: rotate-down;
}

.characteristic-btn-arrow:not(.rotate-arrow) {
    animation-name: rotate-up;
}

.characteristic-btn-arrow path{
    fill: #50279c !important;
}

.card::before {
    content: "";
    width: 100%;
    /* Aumenta el tamaño para que sobresalga ligeramente */
    height: 30%;
    /* Cubre más allá de los bordes */
    position: absolute;
    top: -10%;
    /* Centra el efecto */
    left: -10%;
    z-index: -1;
    filter: blur(30px);
    opacity: 0.5;
    /* Desenfoque del gradiente */
    background: linear-gradient(203deg, rgba(221, 135, 218, 1) 20%, rgb(37, 153, 216) 40%, rgba(97, 24, 194, 1) 89%);
    transform: scale(1.2);
    /* Escala el gradiente para mayor cobertura */
}



@media screen and (max-width: 1650px) {
    .cards-container {
        gap: 0;
    }
}

@media screen and (max-width: 840px) {
    
    .location-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 0px;
            z-index: 100;
        }

        .location {
                                padding: 10% 20%;
            border-top: none;
            border-left: none;
            border-bottom: 1px solid rgb(221, 221, 221);
            border-right: 1px solid rgb(221, 221, 221);
            width: fit-content;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 15px;
        }

                /* .location {
                    border: 1px solid rgb(221, 221, 221);
                    border-radius: 15px;
                    width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                } */
}
@media screen and (min-width: 1401px) {

        .card-container {
            display: flex;
            flex-direction: column;
            position: relative;
            opacity: 0;
            transform: translateY(50px) scale(.9);
            transition: opacity 0.5s ease-out, transform 0.5s ease-out;
        }
    
        .card-container.appear {
            opacity: 1;
            transform: translateY(0) scale(.9);
        }
}

@media screen and (max-width: 768px) {
}