@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('/src/assets/fonts/poppins100.woff2') format('woff2'),
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('/src/assets/fonts/poppins300.woff2') format('woff2'),
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/src/assets/fonts/poppins400.woff2') format('woff2'),
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('/src/assets/fonts/poppins600.woff2') format('woff2'),
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/src/assets/fonts/poppins700.woff2') format('woff2'),
}

:root {
    --color-primary: #5900ff;
    --color-secondary: #fce38a;
    --color-extra-1: #0011ff;
    --color-neutro-black: #111;
    --color-neutro-white: #f0f0f0;
    --color-primary-hovered: #854eec54;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: var(--color-neutro-black);
    user-select: none;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-y: scroll;
    background-color: var(--color-neutro-black);
}

a {
    text-decoration: none;
}

.cursor {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-primary);
    background-color: transparent;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.inner-cursor {
    width: 5px;
    height: 5px;
    background-color: var(--color-primary);
}

.cursor,
.inner-cursor {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    pointer-events: none;
}

.cursor.hovered {
    width: 50px;
    height: 50px;
    background-color: var(--color-primary-hovered);
}

.inner-cursor.hovered {
    width: 0;
    height: 0;
}

.custom-btn {
    text-align: center;
    font-size: 1em;
    color: #fff;
    scale: 0.9;
    width: 300px;
    background-color: #50279c;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    transition: background-color 0.15s ease-out, scale 0.15s ease-out;
}

.custom-btn:hover {
    background-color: #331669;
}

.custom-btn.button-variant {
    border: 1px solid #50279c;
    background-color: transparent;
    color: #50279c;
    font-weight: 600;
}

.custom-btn.button-variant:hover {
    background-color: #50279c1f;
}

.social-icon path {
    font-size: large;
}

.whatsapp-container {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 35px;
    left: 35px;
    background-color: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    z-index: 998;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3), 0 8px 24px rgba(0, 0, 0, 0.3);
    /* Sombra suave y elegante */
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    padding: 0;
}

.whatsapp-container:hover{
    background-color: #11aa49;
    transform: translateY(-5px);
}

.whatsapp-icon {
    font-size: 3.5em !important;
}

.whatsapp-icon path {
    fill: white !important;

}