@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #5900ff;
    --color-secondary: #fce38a;
    --color-extra-1: #0011ff;
    --color-neutro-black: #111;
    --color-neutro-white: #f0f0f0;
    --color-primary-hovered: #854eec54;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: var(--color-neutro-black);
    user-select: none;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    overflow-y: scroll;
    cursor: none;
}

button, a {
    cursor: none;
}

a {
    text-decoration: none;
}

.cursor {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-primary);
    background-color: transparent;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.inner-cursor {
    width: 5px;
    height: 5px;
    background-color: var(--color-primary);
}

.cursor, .inner-cursor {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    pointer-events: none;
}

.cursor.hovered {
    width: 50px;
    height: 50px;
    background-color: var(--color-primary-hovered);
}

.inner-cursor.hovered {
    width: 0;
    height: 0;
}